# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

> INTRODUCTION  

In this model, a prediction model for sales of a software company 1C_Company will done using the given data which contains information about sales from 1st January 2013 to 31st October 2015.

Below is a list of the data contained in this project:

* sales_train.csv: The training set. Daily historical data from January 2013 to October 2015.

* test.csv: The test set. There is need to forecast the sales for these shops and products for November 2015.

* sample_submission.csv: This is a sample submission file shown in the correct format.

* items.csv: Supplemental information about the items/products.

* item_categories.csv: Supplemental information about the items categories.

* shops.csv: Supplemental information about the shops.

There are 6 data sets in this project as shown above. A discription of the fields contained in the data sets is as shown below:

**ID**: An Id that represents a (Shop, Item) tuple within the test set

**shop**_id: Unique identifier of a shop

**item_id**: Unique identifier of a product

**item_category_id**: Unique identifier of item category

**item_cnt_day**: Number of products sold. **You are predicting a monthly amount of this measure**

**item_price**This challenge serves as final project for the "How to win a data science competition" Coursera course.

In this competition you will work with a challenging time-series dataset consisting of daily sales data, kindly provided by one of the largest Russian software firms - 1C Company. 

We are asking you to predict total sales for every product and store in the next month. By solving this competition you will be able to apply and enhance your data science skills.: Ccurrent price of an item

**date**: date in format dd/mm/yyyy

**date_block_num**: A consecutive month number used for convenience. January 2013 is 0, February 2013 is 1 and October 2015 is 33

**item_name**: Name of item

**shop_name**: Name of shop

**item_category_name**: Name of item category

# 1. IMPORT LIBRARY

In [1]:
#Data Handling 
import pandas as pd 
import datetime 
import os 
#visualization 
import matplotlib.pyplot as plt

# 2. LOAD DATA

In [2]:
#load data
os.listdir('/kaggle/input/') 

sales = pd.read_csv('../input/competitive-data-science-predict-future-sales/sales_train.csv')
item = pd.read_csv('../input/competitive-data-science-predict-future-sales/items.csv')
item_cate = pd.read_csv('../input/competitive-data-science-predict-future-sales/item_categories.csv')
shop = pd.read_csv('../input/competitive-data-science-predict-future-sales/shops.csv')

In [3]:
#number rows and columns each for data. exmp sales_train.csv
sales.shape

(2935849, 6)

In [4]:
sales.head()

         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0  02.01.2013               0       59    22154      999.00           1.0
1  03.01.2013               0       25     2552      899.00           1.0
2  05.01.2013               0       25     2552      899.00          -1.0
3  06.01.2013               0       25     2554     1709.05           1.0
4  15.01.2013               0       25     2555     1099.00           1.0

In [5]:
#JOIN Table 
df = pd.merge(sales, shop, how = 'left', left_on = 'shop_id', right_on = 'shop_id')
df = pd.merge(df, item, how = 'left', left_on = 'item_id', right_on = 'item_id') 
df = pd.merge(df, item_cate, how = 'left', left_on = 'item_category_id', right_on = 'item_category_id')
df.drop(['shop_id','item_id','item_category_id'], axis = 1, inplace = True)
df.head()

,date,date_block_num,item_price,item_cnt_day,shop_name,item_name,item_category_name
0,02.01.2013,0,999.00,1.0,"Ярославль ТЦ ""Альтаир""",ЯВЛЕНИЕ 2012 (BD),Кино - Blu-Ray
1,03.01.2013,0,899.00,1.0,"Москва ТРК ""Атриум""",DEEP PURPLE The House Of Blue Light LP,Музыка - Винил
2,05.01.2013,0,899.00,-1.0,"Москва ТРК ""Атриум""",DEEP PURPLE The House Of Blue Light LP,Музыка - Винил
3,06.01.2013,0,1709.05,1.0,"Москва ТРК ""Атриум""",DEEP PURPLE Who Do You Think We Are LP,Музыка - Винил
4,15.01.2013,0,1099.00,1.0,"Москва ТРК ""Атриум""",DEEP PURPLE 30 Very Best Of 2CD (Фирм.),Музыка - CD фирменного производства

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2935849 entries, 0 to 2935848
Data columns (total 7 columns):
 #   Column              Dtype
---  ------              -----
 0   date                object
 1   date_block_num      int64
 2   item_price          float64
 3   item_cnt_day        float64
 4   shop_name           object
 5   item_name           object
 6   item_category_name  object
dtypes: float64(2), int64(1), object(4)
memory usage: 179.2+ MB

In [7]:
df['date'] = pd.to_datetime(df['date'])
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2935849 entries, 0 to 2935848
Data columns (total 7 columns):
 #   Column              Dtype
---  ------              -----
 0   date                datetime64[ns]
 1   date_block_num      int64
 2   item_price          float64
 3   item_cnt_day        float64
 4   shop_name           object
 5   item_name           object
 6   item_category_name  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(3)
memory usage: 179.2+ MB

we changed the date data type of the object to datetime to make it more relevant